
.banner {
    height: 50px;
    color: #34270b; 
    text-align: center;
    padding-bottom: 80px;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    font-weight: 500;
}

.content {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffffb2; 
    box-shadow: 0px 0px 5px 2px rgba(56, 28, 11, 0.255);
    margin: 20px;
}

.content h2 {
    font-size: 2rem;
    color: #1D1D1D;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
.banner {
height: 150px; 
padding: 10px;
}
.banner h1 {
font-size: 2rem;  
}
.banner p {
font-size: 1rem;
}
}

.faq-category {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #F5F5E1;
}

.faq-question {
    font-weight: bold;
}
.faq-answer {
    margin-top: 10px;
}